services:
  - type: web
    name: micropymes-frontend
    env: static
    rootDir: client
    buildCommand: npm ci --legacy-peer-deps --include=dev && npm run build
    staticPublishPath: ./dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    envVars:
      - key: NODE_ENV
        value: production
      - key: VITE_API_URL
        value: https://micropymes-backend.onrender.com/api/v1 